<div class="container-fluid blog-posts">
<ol class="list-group">
    {{#each posts as |post|}}
    <li class="list-group-item">
        <h2>{{post.title}}</h2>
        {{post.body}}</li>
    {{/each}}
</ol>
</div>